/* Estilos */
*{
    margin: 0;
    padding: 0;
}
body {
    background-color: #e3e3e3;
    font-size: 16px;
    color: #474747;
}

div {
   border-radius: 4px;
   box-sizing: border-box;
}
.azul {
    background-color: #0099d4;
    width: 80%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px;
}
.amarillo {
    background-color: #f5f56f;
    width: 59%;
    margin: 5px 0;
    padding: 20px;
    display: inline-block;
}
.rosa {
    background-color: #f895b6;
    width: 39%;
    margin: 5px 0;
    padding: 20px;
    display: inline-block;
}
.verde {
    background-color: #96e296;
    width: 100%;
    margin: 5px 0;
    padding: 20px;
    display: inline-block;
}

img {
    width: 100%;
    height: auto;
}

h1, h2, h3, h4, h5, h6 {
    text-align: left;
  }
/* Aqui comienzan los media queries */
/* 320px - 720px - 1024px - 1400px */
@media screen and (max-width: 720px){
  .amarillo {
    width: 100%;
  }
  .rosa {
    width: 100%;
  }
  img {
    width: 60%;
    margin: 0 auto;
  }
  h1, h2, h3, h4, h5, h6 {
    text-align: center;
  }
}